@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;800&display=swap");
/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo", sans-serif;
  font-size: var(--normal-font-size);
  color: #878a8f;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: hsl(219deg, 8%, 95%);
}

h1, h2, h3 {
  color: hsl(219deg, 4%, 4%);
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 500;
  transition: all 0 ease;
  color: #0f141e;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 100%;
}

/*========== REUSABLE CSS CLASSES ==========*/
.conteiner {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid, .main_skill, .projects {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
}

.section {
  padding: 6rem 0 2rem;
}

.section_title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape {
  background-color: hsl(219deg, 69%, 56%);
  filter: blur(112px);
  border-radius: 50%;
  opacity: 0.2;
}

.shape2 {
  background-color: hsla(219deg, 33%, 32%, 0.5);
  filter: blur(112px);
  border-radius: 50%;
}

.shape_big {
  width: 550px;
  height: 550px;
}

.shape_small {
  width: 350px;
  height: 350px;
}

/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== HEADER & NAV ==========*/
header {
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav_conteiner {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: hsl(219deg, 4%, 4%);
  display: inline-flex;
}

.nav_logo {
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 500;
  transition: 0.3s;
}
.nav_logo i {
  font-size: 1.25rem;
}
.nav_logo:hover {
  color: hsl(219deg, 69%, 56%);
}

.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    background-color: hsla(0deg, 0%, 100%, 0.1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: 0.3s;
  }
}
.nav_menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav_link {
  text-transform: uppercase;
  color: hsl(219deg, 4%, 4%);
  font-size: var(--h2-font-size);
  font-weight: 500;
  transition: 0.3s;
}
.nav_link:hover {
  color: hsl(219deg, 69%, 56%);
}

.nav_close {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change Background header */
.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: hsl(219deg, 8%, 95%);
}

/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== HOME ==========*/
.home {
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.home_conteiner {
  height: 70%;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home_data {
  width: 100%;
  position: absolute;
  bottom: 1em;
  z-index: 2;
}
.home_data p {
  width: 80%;
}

.home_title {
  width: 90%;
  font-size: var(--h1-font-size);
  font-weight: 800;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.home_subtitle {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #878a8f;
  margin-bottom: 0.25rem;
}

.home_web {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: #878a8f;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.home_web i {
  color: hsl(219deg, 69%, 56%);
}

.home_img {
  width: 90%;
  height: 100%;
  float: right;
}

.home .shape_big,
.home .shape_small {
  position: absolute;
}

.home .shape_big {
  left: 5rem;
  top: -5rem;
  z-index: -1;
}
.home .shape_small {
  right: -3rem;
  bottom: 15rem;
  z-index: -1;
}

.home_portfolio {
  min-height: 80vh;
}

.home_cards {
  width: 100%;
  margin-top: 60px;
}

.home_card {
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
  background-color: white;
}

.card_img {
  width: 100%;
  height: 280px;
  background: url(../media/img/auhelp.jpg) center no-repeat;
  background-size: cover;
}

.home_card2 {
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
  background-color: #70309E;
}
.home_card2 .card_title {
  color: #fff;
}

.card_img2 {
  width: 100%;
  height: 280px;
  background: url(../media/img/omnilife.jpg) center no-repeat;
  background-size: cover;
}

.card_content {
  height: 100px;
  padding: 10px 0 0 10px;
}

/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== PROJECTS ==========*/
.projects_section {
  width: 100%;
  position: relative;
  padding: 5rem 1.5em 2em;
}

.projects {
  width: 90%;
  margin: 0 auto;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.projects ul {
  list-style-type: none;
}
.projects figure {
  position: relative;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}
.projects figure img {
  width: 100%;
  transition: all 500ms ease-out;
}
.projects figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 100, 0.1);
  backdrop-filter: blur(96px);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.titlepro, .projects figure .capa {
  text-align: center;
}

.project_card {
  border-color: #fff;
  flex-direction: column;
  row-gap: 0.75rem;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.btns {
  padding: 0.4rem 0.8rem;
  margin: 0.5rem;
  outline: none;
  border: 2px solid;
  border-radius: 0.5rem;
  background-color: hsl(219deg, 8%, 95%);
  color: hsl(219deg, 69%, 52%);
  font-weight: 600;
}
.btns:hover {
  background-color: hsl(219deg, 69%, 52%);
  color: hsl(219deg, 8%, 95%);
}

/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== ABOUT ME ==========*/
.about {
  width: 100vw;
  padding-top: 7rem;
  text-align: center;
}

.aboutme {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  justify-content: center;
}

.me {
  line-height: 40px;
  padding-inline: 2rem;
}
.me:hover {
  transform: scale(1.2, 1.2);
}
.me p {
  padding: 1.5em;
  color: #fff;
}
.me i {
  font-size: 2em;
  color: hsl(219deg, 69%, 56%);
}

/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== SKILLS ==========*/
.main_skill {
  width: 100vw;
  padding: 6rem 0 2em;
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 3rem;
  text-align: center;
}

.skills-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.icons_skills {
  width: 100%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 1em;
  column-gap: 1em;
}

.path_skills h2 {
  padding-bottom: 2rem;
}

.link_skill {
  width: 4.5em;
  background-color: hsl(219deg, 4%, 7%);
  border-radius: 0.75em;
}
.link_skill:hover {
  transform: scale(1.2, 1.2);
}
.link_skill i {
  font-size: 40px;
  padding: 0.25em;
  color: hsl(219deg, 69%, 56%);
}

/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== CONTACT ==========*/
.main_form {
  width: 100vw;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form {
  width: 90%;
  padding: 2rem 1rem;
  margin: 0 auto 4rem;
  line-height: 40px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid hsl(219deg, 69%, 52%);
}

.input-container {
  width: 100%;
  position: relative;
}

.label {
  position: absolute;
  height: 6px;
  left: 10px;
  top: 5px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 1;
  color: #b3b3b3;
}
.label::before {
  content: "";
  height: 8px;
  background: hsl(219deg, 4%, 7%);
  position: absolute;
  left: 0px;
  top: 14px;
  width: 100%;
  z-index: -1;
}

.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #2f2c45;
  background: hsl(219deg, 4%, 7%);
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}
.text-input:focus {
  border: 2px solid hsl(219deg, 69%, 52%);
}
.text-input:focus::placeholder {
  opacity: 1;
}
.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.text-input:focus + .label, .filled {
  top: -16px;
  color: #fff;
  font-size: 14px;
}

.mail-img {
  width: 100%;
  height: 400px;
}

.mail-svg {
  width: 100%;
  height: 100%;
  background-image: url(../media/img/mail-sent-animate.svg);
  background-position: center;
  background-size: cover;
}

.field_form {
  font-size: var(--normal-font-size);
  padding: 1.5rem 1.5rem 0;
}

.btn_conteiner {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: hsl(219deg, 4%, 7%);
  color: white;
  padding: 4px 2em;
  padding-left: 1.9em;
  display: flex;
  align-items: center;
  border: 2px solid #2f2c45;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
}
button .span_btn {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
button:hover {
  border: 2px solid hsl(219deg, 69%, 56%);
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover .span_btn {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
/*========== VARIABLES CSS ==========*/
:root {
  /* Typografhy */
  /* .5rem = 8px | 1rem = 16px... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: .8rem;
  --normal-font-size: .938rem;
  --small-font-size: .81rem;
  --smalller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 767px) {
  :root {
    --h1-font-size: 2.45rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smalller-font-size: .813rem;
  }
}
/*========== FOOTER ==========*/
footer {
  width: 100%;
  align-self: flex-end;
  border-top: 1px solid hsl(219deg, 69%, 52%);
  border-radius: 1rem 1rem 0 0;
  background-color: hsl(219deg, 8%, 95%);
  z-index: 2;
}

.footer-top {
  padding: 80px 0 30px;
}

.footer-bottom {
  padding: 30px 0 20px;
  border-top: 1px solid hsl(219deg, 69%, 52%);
}

.social-icons a {
  font-size: 24px;
  color: hsl(219deg, 4%, 7%);
  padding: 3px;
}
.social-icons a:hover {
  color: hsl(219deg, 69%, 52%);
}

.footer {
  position: relative;
}

.circle {
  background-color: hsla(219deg, 33%, 32%, 0.5);
  filter: blur(112px);
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.footer .circle {
  position: absolute;
  top: 10%;
  left: -1em;
  z-index: -1;
}

/*========== BREAKPOINT ==========*/
@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }

  .home_data {
    width: 100%;
    text-align: left;
    margin-left: 1em;
  }
  .home_data p {
    width: 70%;
    margin: 0.6em 0;
  }

  .span_title {
    margin: 0;
    text-align: left;
  }

  .nav {
    height: 6rem;
  }

  .nav_toggle,
.nav_close {
    display: none;
  }

  .nav_menu {
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav_link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .home_conteiner {
    height: 65vh;
    grid-template-columns: 60% 40%;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }

  .home_img {
    width: 300px;
    border-radius: 50%;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  .main_skill {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3em;
  }

  .icons_skills {
    padding: 1em 2em;
  }

  .link_skill {
    width: 7em;
  }
  .link_skill i {
    font-size: 60px;
    padding: 0.45em;
    color: hsl(219deg, 69%, 56%);
  }

  .about {
    height: 90vh;
  }

  .aboutme {
    flex-direction: row;
    column-gap: 2em;
    margin-inline: 1.8em;
  }
}

/*# sourceMappingURL=style.css.map */
