@import 'base/_variables';
/*========== ABOUT ME ==========*/
.about{
    width: 100vw;
    padding-top: 7rem;
    min-height: 100vh;
}

.about{
    h1{
        width: 100%;
        font-size: 2.125rem;
        padding-top: 10px;
        line-height: 2.25rem;
    }
}

.about_container{
    padding-block: 1em 2em;
}

.carousel{
    padding-block: 1em 3em;
}

.carousel-item{
    filter: grayscale(1);

    &:hover{
        filter: grayscale(0);
        transition-property: filter;
        transition: 200ms all ease-in; 
    }
}

.carousel-indicators [data-bs-target] {
    background-color: $conteiner-color;
}