/*========== FOOTER ==========*/
footer{
    width: 100%;
    align-self: flex-end;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--body-color);
    z-index: 2;
}

.footer-top{
    padding: 80px 0 30px;
}

.footer-bottom{
    padding: 30px 0 20px;
    border-top: 1px solid var(--first-color-alt);
}

.social-icons a{
    font-size: 24px;
    color: var(--white-color);
    padding: 3px;

    &:hover{
        color: var(--first-color-alt);
    }
}

.footer{
    position: relative;
}

.circle{
    background-color: hsla(219, 33%, 32%, .5);
    filter: blur(112px);
    border-radius: 50%;
    width: 15em;
    height: 15em;
}

.footer .circle{
    position: absolute;
    top: 10%;
    right: 20%;
    z-index: -1;
}
