@import 'base/variables.scss';
/*========== HOME ==========*/
.home{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.home_conteiner{
    height: 70%;
    padding-top: 4rem;
    row-gap: 3rem;
}

.home_data{
    width: 100%;
    position: absolute;
    bottom: 1em;
    z-index: 2;
    p{
        width: 80%;
    }
}

.home_title{
    width: 90%;
    font-size: var(--h1-font-size);
    font-weight: $font-extra-bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home_subtitle{
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $text-color;
    margin-bottom: .25rem;
}

.home_web{
    font-size: var(--small-font-size);
    font-weight: 400;
    color: $text-color;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.home_web i{
    color: $first-color;
}

.home_img{
    width: 90%;
    height: 100%;
    float: right;
}

.home .shape_big,
.home .shape_small{
    position: absolute;
}

.home{
    .shape_big{
        left: 5rem;
        top: -5rem;
        z-index: -1;
    }

    .shape_small{
        right: -3rem;
        bottom: 15rem;
        z-index: -1;
    }
}

.home_portfolio{
    min-height: 80vh;
}

.home_cards{
    width: 100%;
    margin-top: 60px;
}


@mixin card_bg($color-bg){
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
    background-color: $color-bg;
}
@mixin card_image($img){
    width: 100%;
    height: 280px;
    background: $img center no-repeat;
    background-size: cover;
}

.home_card{
    @include card_bg(white)
}

.card_img{
    @include card_image(url(../media/img/auhelp.jpg));
}

.home_card2{
    @include card_bg(#70309E);
    .card_title{
        color: $white-color;
    }
}

.card_img2{
    @include card_image(url(../media/img/omnilife.jpg))
}

.card_content{
    height: 100px;
    padding: 10px 0 0 10px;
}