@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Hind:wght@300;500&display=swap');
@import 'base.scss';
@import 'header.scss';
@import 'home.scss';
@import 'projects';
@import 'aboutme.scss';
@import 'skills.scss';
@import 'contact.scss';
@import 'footer.scss';

/*========== VARIABLES CSS ==========*/
:root{
    --header-height: 4.5rem;

    /* COLORS */
    /* Color moder HSL(hue, saturation, lightness) */

    --first-color: hsl(219, 69%, 56%);
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(219, 8%, 95%);
    --text-color: hsl(219, 8%, 75%);
    --text-color-light: hsl(219, 4%, 55%);
    --white-color: #fff;
    --body-color: hsl(219, 4%, 4%);
    --conteiner-color: hsl(219, 4%, 7%);

    /* Font and typografhy */
    /* .5rem = 8px | 1rem = 16px... */
    --body-font: 'Exo', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .81rem;
    --smalller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 767px){
    :root{
        --h1-font-size: 2.45rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smalller-font-size: .813rem;
    }
}


/*========== BREAKPOINT ==========*/
@media screen and (min-width: 767px){
    .section{
        padding: 7rem 0 2rem;
    }

    .home_data{
        width: 270px;
        text-align: left;
    }

    span{
        margin: 0;
        text-align: left;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_toggle,
    .nav_close{
        display: none;
    }

    .nav_menu{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }

    .nav_link{
        font-size: var(--normal-font-size);
        text-transform: initial;
    }

    .home_conteiner{
        height: 65vh;
        grid-template-columns: auto auto;
        justify-content: space-around;
        align-items: center;
        z-index:-1;
    }

    .home_img{
        width: 300px;
        border-radius: 50%;
    }

    .projects{
        grid-template-columns: repeat(3, 1fr);
    }

    .main_skill{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 4em;
    }

    .icons_skills{
        padding: 1em 2em;
    }

    .link_skill{
        width: 7em;
    }

    .link_skill i{
        font-size: 60px;
        padding: .45em;
        color: var(--first-color);
    }

    .about{
        height: 90vh;
    }

    .aboutme{
        flex-direction: row;
        column-gap: 2em;
        margin-inline: 1.8em;
    }
}

