@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;800&display=swap');
@import 'base/variables';
@import 'base.scss';
@import 'header.scss';
@import 'home.scss';
@import 'projects';
@import 'aboutme.scss';
@import 'skills.scss';
@import 'contact.scss';
@import 'footer.scss';


/*========== BREAKPOINT ==========*/
@media screen and (min-width: 767px){
    .section{
        padding: 7rem 0 2rem;
    }

    .home_data{
        width: 100%;
        text-align: left;
        margin-left: 1em;

        p{
            width: 70%;
            margin: .6em 0;
        }
    }

    .span_title{
        margin: 0;
        text-align: left;
    }

    .nav{
        height: calc($header-height + 1.5rem);
    }

    .nav_toggle,
    .nav_close{
        display: none;
    }

    .nav_menu{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }

    .nav_link{
        font-size: var(--normal-font-size);
        text-transform: initial;
    }

    .home_conteiner{
        height: 65vh;
        grid-template-columns: 60% 40%;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }

    .home_img{
        width: 300px;
        border-radius: 50%;
    }

    .projects{
        grid-template-columns: repeat(3, 1fr);
    }

    .main_skill{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 3em;
    }

    .icons_skills{
        padding: 1em 2em;
    }

    .link_skill{
        width: 7em;

        i{
            font-size: 60px;
            padding: .45em;
            color: $first-color;
        }
    }

    .about{
        height: 90vh;
    }

    .aboutme{
        flex-direction: row;
        column-gap: 2em;
        margin-inline: 1.8em;
    }
}

