@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600;800&display=swap');
@import 'base/variables';
@import 'base.scss';
@import 'header.scss';
@import 'home.scss';
@import 'projects';
@import 'aboutme.scss';
@import 'skills.scss';
@import 'contact.scss';
@import 'footer.scss';


/*========== BREAKPOINT ==========*/
@media screen and (min-width: 767px){

    .nav{
        height: calc($header-height + 1.5rem);
    }

    .nav_toggle,
    .nav_close{
        display: none;
    }

    .nav_menu{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }

    .nav_link{
        font-size: var(--normal-font-size);
        text-transform: initial;
    }

    /* HOME */
    .home{
        height: 100vh;
    }

    .home_data{
        width: 60%;
        bottom: 10em;
    }

    .home_cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;
        padding-bottom: 0;
    }

    .home_conteiner{
        height: 65vh;
        grid-template-columns: 60% 40%;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
    }

    .home_img{
        width: 300px;
        border-radius: 50%;
    }

    .mouse_body {
        visibility: visible;
    }

    .home_portfolio{
        padding-top: 120px;
    }

    /* PORTFOLIO */
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }

    .main_skill{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 3em;
    }

    .icons_skills{
        padding: 1em 2em;
    }

    .link_skill{
        width: 7em;

        i{
            font-size: 60px;
            padding: .45em;
            color: $first-color;
        }
    }

    /* ABOUT ME */
    .carousel{
        width: 450px;
        height: 670px;
        margin: 0 auto;
    }

    .about_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1em;
        padding-block: 2em 3em;
        
        p{
            width: 40%;
        }
    }

     /* CONTACT */
     .main_form{
        flex-direction: row-reverse;
        padding-block: 6em 5em;
    }

    .mail-img{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        
        .mail-svg{
            height: 80%;
            width: 85%;
        }
    }

    .form{
        width: 75%;
        margin: 0;
    }
    
}

@media screen and (min-width: 1080px){
    .home_img{
        width: 380px;
    }
   
}