@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Hind:wght@300;500&display=swap');

/*========== VARIABLES CSS ==========*/
:root{
    --header-height: 4.5rem;

    /* COLORS */
    /* Color moder HSL(hue, saturation, lightness) */

    --first-color: hsl(219, 69%, 56%);
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(219, 8%, 95%);
    --text-color: hsl(219, 8%, 75%);
    --text-color-light: hsl(219, 4%, 55%);
    --white-color: #fff;
    --body-color: hsl(219, 4%, 4%);
    --conteiner-color: hsl(219, 4%, 7%);

    /* Font and typografhy */
    /* .5rem = 8px | 1rem = 16px... */
    --body-font: 'Exo', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .81rem;
    --smalller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 767px){
    :root{
        --h1-font-size: 2.45rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smalller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  hsla(219, 33%, 32%, .5) 0.1%, hsl(219, 4%, 4%) 99.8% );
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

a{
    text-decoration: none;
    color: #000;
}

img{
    max-width: 100%;
    height: auto;
}

/*========== REUSABLE CSS CLASSES ==========*/
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
    justify-content: center;
}

.section{
    padding: 6rem 0 2rem;
}


.section_title{
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 2.5rem;
}

.main{
    overflow: hidden;
}

.shape{
    background-color: hsla(219, 33%, 32%, .5);
    filter: blur(112px);
    border-radius: 50%; 
}

.shape_big{
    width: 400px;
    height: 400px;
}

.shape_small{
    width: 300px;
    height: 300px;
}

/*========== HEADER & NAV ==========*/

header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav_container{
    width: 95vw;
    margin: 0 auto;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav_logo,
.nav_toggle{
    color: var(--title-color);
    display: inline-flex;
}

.nav_logo{
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav_logo i{
    font-size: 1.25rem;
}

.nav_logo:hover{
    color: var(--first-color);
}

.nav_toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav_menu{
        position: fixed;
        background-color: hsla(0, 0, 100%, 1);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        transition: .3s;
    }
}

.nav_menu{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav_link{
    text-transform: uppercase;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav_link:hover{
    color: var(--first-color);
}

.nav_close{
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    right: 0;
}

/*========== MAIN ==========*/
/*========== HOME ==========*/
.home{
    width: 100vw;
    height: calc(100vh - 4.5rem);
    position: relative;
    overflow: hidden;
}

.home_container{
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;
}

.home_data{
    text-align: center;
}

.home_title{
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

span{
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    margin: 0 auto;
    width: 9ch;

    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow: hidden;
}


@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}


.home_subtitle{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.home_web{
    font-size: var(--small-font-size);
    font-weight: 400;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.home_web i{
    color: var(--first-color);
}

.home_img{
    width: 280px;
    justify-self: center;
}

.home .shape_big,
.home .shape_small{
    position: absolute;
}

.home .shape_big{
    left: -1rem;
    top: 3rem;
    z-index: -1;
}

.home .shape_small{
    right: -3rem;
    bottom: 2rem;
    z-index: -1;
}

/* Change Background header */
.scroll-header{
    border-radius: 0 0 1rem 1rem;
    background-color: var(--body-color);
}

/*========== PROJECTS ==========*/
.projects_section{
    width: 100vw;
    position: relative;
    padding: 5rem 1.5em 2em;
}

.projects{
    width: 90%;
    margin: 0 auto;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.titlepro{
    text-align: center;
}

.project_card{
    border-color: var(--white-color);
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.projects figure{
    position: relative;
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}

.projects figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.projects figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.project_card ul{
    list-style-type: none;
}

.btns{
    padding: .4rem .8rem;
    margin: .5rem;
    outline: none;
    border: 2px solid;
    border-radius: .5rem;
    background-color: var(--body-color);
    color: var(--first-color-alt);
    font-weight: var(--font-semi-bold);
}

.btns:hover{
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

/*========== ABOUT ME ==========*/
.about{
    width: 100vw;
    padding-top: 7rem;
    text-align: center;
}

.aboutme{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
}

.me{
    line-height: 40px;
    padding-inline: 2rem;
}

.me p{
    padding: 1.5em;
    color: var(--white-color);
}

.me i{
    font-size: 2em;
    color: var(--first-color);
}

/*========== SKILLS ==========*/
.main_skill{
    width: 100vw;
    padding: 5.4rem 0 2em;
    grid-template-rows: auto auto;
    justify-content: center;
    row-gap: 3rem;
    text-align: center;
}

.skills-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

.icons_skills{
    width: 100%;
    padding: .5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 1em;
    column-gap: 1em;
}

.path_skills h2{
    padding-bottom: 2rem;
}

.link_skill{
    width: 4.5em;
    background-color: var(--conteiner-color);
    border-radius: .75em;
}

.link_skill:hover{
    transform: scale(1.2,1.2);
}

.link_skill i{
    font-size: 40px;
    padding: .25em;
    color: var(--first-color);
}

/*========== CONTACT ==========*/
.main_form{
    width: 100vw;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form{
    padding: 0 1rem;
    margin: 0 auto;
}

.help_container{
    padding: 4rem 1rem 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.help_container i{
    display: inline-block;
	text-shadow: 0 0 10px #222,1px 1px  0 #450505;
	color: red;

	animation: beat 1s infinite;
	transform-origin: center;
}

@keyframes beat {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

.form{
    line-height: 40px;
}

.field_form{
    font-size: var(--normal-font-size);
    padding: 1.5rem;
}

.btn_container{
    display: flex;
    justify-content: flex-end;
    column-gap: 2rem;
}

/*========== BREAKPOINT ==========*/
@media screen and (min-width: 767px){
    .section{
        padding: 7rem 0 2rem;
    }

    .home_data{
        width: 270px;
        text-align: left;
    }

    span{
        margin: 0;
        text-align: left;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav_toggle,
    .nav_close{
        display: none;
    }

    .nav_menu{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }

    .nav_link{
        font-size: var(--normal-font-size);
        text-transform: initial;
    }

    .home_container{
        width: 100vw;
        height: 65vh;
        grid-template-columns: auto auto;
        justify-content: space-around;
        align-items: center;
        z-index:-1;
    }

    .home_img{
        width: 300px;
        border-radius: 50%;
    }

    .projects{
        grid-template-columns: repeat(3, 1fr);
    }

    .main_skill{
        grid-template-columns: repeat(2, 1fr);
        margin: 0 4em;
    }

    .icons_skills{
        padding: 1em 2em;
    }

    .link_skill{
        width: 7em;
    }

    .link_skill i{
        font-size: 60px;
        padding: .45em;
        color: var(--first-color);
    }

    .aboutme{
        flex-direction: row;
        column-gap: 2em;
        margin-inline: 1.8em;
    }
}

/*========== FOOTER ==========*/
footer{
    width: 100%;
    height: 4.5rem;
    margin: 0 auto;
    padding: 0 2rem;
    align-self: flex-end;
    color: #fff;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--body-color);
}

.card{
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social{
    display: flex;
}

.social_media{
    font-size: var(--normal-font-size);
}

.up i{
    color: var(--first-color-alt);
}

.icons_list{
    width: 12em;
    display: flex;
    justify-content: space-evenly;
}

.icons_list i{
    color: var(--first-color);
}

.icons_list i:hover{
    color: var(--white-color);
}

.footer_final{
    font-size: var(--smalller-font-size);
    text-align: center;
}

