/*========== VARIABLES CSS ==========*/


$first-color: hsl(219, 69, 56);
$first-color-alt: hsl(219, 69, 52);
$title-color: hsl(219, 8, 95);
$text-color: hsl(219, 8, 75);
$text-color-light: hsl(219, 4, 55);
$white-color: #fff;
$body-color: hsl(219, 4, 4);
$conteiner-color: hsl(219, 4, 7);
